{% extends 'base.html' %}

    {% block title %}Add person{% endblock %}

        {% block body_block %}
        <h1>Add person</h1>

        <form id="person_form" method="post" action="/contacts/add_person/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <dl>
            {% for field in form.visible_fields %}
                <dt>{{ field.errors }}
                <dt>{{ field.help_text }}
                <dd>{{ field }}
            {% endfor %}
            </dl>

            <input type="submit" name="submit" value="Create Person" />
        </form>
{% endblock %}