<!DOCTYPE html>

<html>
    <head>
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'contacts/css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

        <title>Contacts - {% block title %}Address book{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/contacts/logout/">Logout</a></li>
                <li><a href="/contacts/add_person/">Add a New Person</a></li>
            {% else %}
                <li><a href="/contacts/register/">Register Here</a></li>
                <li><a href="/contacts/login/">Login</a></li>
            {% endif %}

                <li><a href="/contacts/about/">About</a></li>
            </ul>
        </div>
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>