{% extends 'base.html' %}
        {% load static %}

{% block title %}{{ person_name }}{% endblock %}

{% block body_block %}
    <h1>{{ person_name }}</h1>

    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>No pages currently in persons.</strong>
    {% endif %}

    {% if user.is_authenticated %}
       <a href="/contacts/person/{{category_name_url}}/change_person/">Change person</a>
    {% endif %}
{% endblock %}
