<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
    </head>

    <body>
        <h1>{{ person_name }}</h1>
        {% if person %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in person list.</strong>
            {% endif %}
        {% else %}
            The specified person {{ person_name }} does not exist!
        {% endif %}
    </body>
</html>>